*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
background-color:hsl(0,0%,95%);
color: blue; 
font-size: 15px;
}
.page-container{
    display: flex;
   min-height: 80vh;
   justify-content: center;
   margin-top: 10%;
   margin-bottom: 10%;
}
.page-container1{
    display: flex;
   min-height: 80vh; 
}
.page-container2{
    display: flex;
   min-height: 80vh;
}
/* sidebars styling */
.sidebar{
background-color:hsl(31, 77%, 52%);
  margin-bottom: 70px;
    Padding: 20px;
    width: 300px;
    }
.sidebar1{
    background-color:hsl(184, 100%, 22%);
    margin-bottom: 70px;
    Padding : 20px;
    width: 300px;
    }
.sidebar2{
background-color:hsl(179, 100%, 13%);
margin-bottom: 70px;
 Padding : 20px;
 width: 300px;
    }
 .sidebar h1{
    text-align: left;
    font-size: 30px;
    color: hsl(0, 0%, 95%);
    margin: 150px 0 20px 0;
    margin-top: 15px;
    font-family:'Big Shoulders Display',cursive;
}

.sidebar p{
margin-bottom: 10px;
font-size: 1.2em;
color:hsla(0, 0%, 100%, 0.75); 
text-align: left;
padding: 30px;

 }
 /* button styling */
 .send{
background-color:rgb(250, 250, 250);
padding: 10px 20px;
text-decoration: none;
color: hsl(31, 85%, 60%);
font-weight: 300;
font-size: 1.5em;
box-ordinal-group:  white;
width: 100%;
border: 2px white solid;
border-radius: 25px;
align-self:center;
margin: 150px 0 20px 0;
 }
 .send:hover{
    background-color:hsl(31, 77%, 52%);
}
 .sidebar1 h1{
    text-align:left;
    font-size: 30px;
    color: rgb(247, 239, 231);
    margin: 150px 0 20px 0;
    margin-top: 15px;
    font-family:'Big Shoulders Display',cursive;
}
.sidebar1 p{
    margin-bottom: 10px;
    font-size: 1.2em;
    color: hsla(0, 0%, 100%, 0.75);  
    text-align: left;
    padding: 30px;
     }
 .send1{
        background-color:hsla(180, 12%, 94%, 0.993);
        padding: 10px 20px;
        text-decoration: none;
        color: hsl(184, 92%, 66%);
        font-weight: 300;
        font-size: 1.5em;
       border-inline-style:  white ;
        width: 100%;
        border-radius: 25px;
        border: 2px white solid;
        align-self:center; 
        margin: 150px 0 20px 0;
    }
    .send1:hover{
        background-color:hsl(184, 100%, 22%);
    }
    .sidebar2 h1{
        text-align: left;
        font-size: 30px;
        color: hsl(0, 0%, 95%);
        margin: 150px 0 20px 0;
        margin-top: 15px;
        font-family:'Big Shoulders Display',cursive;
    }
    .sidebar2 p{
        margin-bottom: 10px;
        font-size: 1.2em;
        color: hsla(0, 0%, 100%, 0.75);
        text-align: left;
        padding: 30px;
    }
    .send2{
        background-color:hsl(180, 41%, 97%);
        padding: 10px 20px;
        text-decoration: none;
        color: hsl(179, 91%, 50%);
        font-weight: 300;
        font-size: 1.5em;
        border: dashed whitesmoke;
        width: 100%;
        border-radius: 25px;
        border: 2px white solid;
        align-self:center;
        margin: 150px 0 20px 0;
        }
        .send2:hover{
            background-color:hsl(179, 100%, 13%);
        }
