*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
background-color:rgb(225, 233, 230);
color: blue; 
}
.page-container{
    display: flex;
   min-height: 80vh;
}
.page-container1{
    display: flex;
   min-height: 80vh; 
}
.page-container2{
    display: flex;
   min-height: 80vh;
}
/* sidebars styling */
.sidebar{
    background-color:hsla(29, 92%, 48%, 0.781);
    Padding : 20px;
    width: 300px;
    }
.sidebar1{
    background-color:#13c2b9;
    Padding : 20px;
    width: 300px;
    }
.sidebar2{
background-color:#09504c;
 Padding : 20px;
 width: 300px;
    }
 .sidebar h1{
    text-align: left  ;
    font-size: 30px;
    color: rgb(247, 239, 231);
    margin: 150px 0 20px 0;
}

.sidebar p{
margin-bottom: 10px;
font-size: 1.2em;
color: rgb(243, 234, 223);   
text-align: left;
padding: 30px;
 }
 /* button styling */
 .send{
background-color:hsla(28, 94%, 66%, 0.918);
padding: 10px 20px;
text-decoration: none;
color: rgb(243, 243, 247);
font-weight: 300;
font-size: 1.5em;
box-ordinal-group:  white;
width: 100%;
border: 2px white solid;
border-radius: 25px;
align-self:center;
margin: 150px 0 20px 0;
 }
 .send:hover{
    background-color:rgb(230, 6, 92);
}
 .sidebar1 h1{
    text-align:left;
    font-size: 30px;
    color: rgb(247, 239, 231);
    margin: 150px 0 20px 0;
}
.sidebar1 p{
    margin-bottom: 10px;
    font-size: 1.2em;
    color: rgb(243, 234, 223);   
    text-align: left;
    padding: 30px;
     }
 .send1{
        background-color:hsla(187, 81%, 49%, 0.945);
        padding: 10px 20px;
        text-decoration: none;
        color: rgb(239, 239, 247);
        font-weight: 300;
        font-size: 1.5em;
       border-inline-style:  white ;
        width: 100%;
        border-radius: 25px;
        border: 2px white solid;
        align-self:center;
        margin: 150px 0 20px 0;
    }
    .send1:hover{
        background-color:rgb(192, 11, 86);
    }
    .sidebar2 h1{
        text-align: left;
        font-size: 30px;
        color: rgb(247, 239, 231);
        margin: 150px 0 20px 0;
    }
    .sidebar2 p{
        margin-bottom: 10px;
        font-size: 1.2em;
        color: rgb(243, 234, 223);   
        text-align: left;
        padding: 30px;
    }
    .send2{
        background-color:#09504c;
        padding: 10px 20px;
        text-decoration: none;
        color: rgb(239, 239, 247);
        font-weight: 300;
        font-size: 1.5em;
        border: dashed whitesmoke;
        width: 100%;
        border-radius: 25px;
        border: 2px white solid;
        align-self:center;
        margin: 150px 0 20px 0;
        }
        .send2:hover{
            background-color:rgb(247, 25, 154);
        }